.blog1{
background-repeat: no-repeat;
background-size: cover;
height: 500px;
color:white
}
.sm{
    font-size: 12px;
    margin-top: 10px;
    margin-left: 30px;
}
@media(max-width: 470px){
    .carousel{
    margin-top: 760px;
}

}
@media(max-width: 600px){
   .popular{
    margin-top: 50px;
   }

}
@media(max-width: 450px){
   .popular{
    margin-top: 130px;
   }

}