/* this section is mainly for the media queries */
.flex-wrap{
  justify-content: space-evenly;
}

@media (max-width:1236px){
    .search{
        margin-top: 600px;
    }
    
}
@media (max-width:824px){
    .search{
        margin-top: 800px;
    }
    
}
@media (max-width:1178px){
  .newsletter{
    margin-top: 900px;
  }
    
}
@media (max-width:863px){
  .newsletter{
    margin-top: 1000px;
  }   
}

@media (max-width:863px){
  .newspaperr{
    margin-top: 100px;
  }
  .search{
    margin-top: 1200px;
  }

}
@media (max-width:767px){
    .newsletter{
        margin-top: 1560px;
      }
}
@media (max-width:797px){
    .blog1 img{
        height: 500px;
    }
}
.blog1 img{
    height: 500px;
}
@media (max-width:432px){
    .journal{
      min-width: 375px;
    }
    .blog1{
      min-width: 350px;
    }
    .blog2{
      width: 350px;
      height: 550px;
    }
    .newsletter{
      min-width: 375px;
    }
    .blog2-mar{
      gap: 8px;
    }
        input {
        width: 231px;
    }
    .searchh{
      width: 375px;
    }
        .newspaperr {
        width: 350px;
    }
        .newsletter {
        min-width: 342px;
        width: 350px;
    }
    .blog2-w{
      width: 150px;
      
    }
    .blog2-wi{

    }
    .blog2-wid{

    }
    .blog-2widt{
      width: 300px;
    }
    .blog1 img {
    height: 600px;
}
.social-w{
  width: 300px;
  
}
.social-wi{
width: 300px;
}
.social-wid{
width: 300px;
}
}

