.flexx{
    display: flex;

    
}
.fullitem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    gap: 10px;
    padding: 20px;
    border: 1px solid black;
    margin-left: 30px;
    box-shadow: 0px 1px 1px 0px;
    border-radius: 10px;
    border-color: transparent;
}
.fullitem:hover{
   cursor: pointer;
   box-shadow: 0px 1px 6px -3px;
}
.fullitem img{
    height: 80px;
    width: 80px;
}
 h3{
font-weight: 700;
font-size: 20px;
}

/* section 2 css */

.section2{
    height: 450px;
}

.section2 h1{
   font-size: 40px;
   font-weight: 700;
   text-align: center;
}

.section2 p{
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}
.flex2{
    display: flex;
    flex-wrap: wrap;
}
.flex3{
    display: flex;
    flex-wrap: wrap;
}
.fullitem2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    border: 1 solid black;
    gap: 10px;
    width: 370px;
    height: 250px;
    padding: 20px;
    margin-left: 30px;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: 0px 1px 1px 0px;    
}
.fullitem2:hover{
   cursor: pointer;
   box-shadow: 0px 1px 6px -3px;
}
.fullitem2 img{
    height: 80px;
    width: 80px; 
    margin-left: 270px;
    margin-bottom: 50px;
}
 h6{
font-weight: 300;
font-size: 15px;
}
.last{
    background-color:#4f7eff;
    padding: 30px;
    border: 2px solid black;
    color: white;
    display: flex;
}
.first{
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.right{
    width: 54%;
}
.input{
    width: 300px;
    height: 50px;
}
.section2{
    margin-top: 30px;
}

/* extra media */
@media (max-width:1180px){
.last{
    flex-wrap: wrap;
}
.flexx {
    flex-wrap: wrap;
}
.flex3{
    margin-top: 200px;
}
.flexx .fullitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 46%;
    margin-top: 50px;
    gap: 10px;
    padding: 20px;
    border: 1px solid black;
    margin-left: 30px;
    box-shadow: 0px 1px 1px 0px;
    border-radius: 10px;
    border-color: transparent;
}
}
@media (max-width:800px){
.flex3{
    margin-top: 500px;
}
.right {
    margin-left: 0px;
}
.last button{
    margin-left: 0;
}
}
@media (max-width:755px){
    .flexx .fullitem {
        height: 300px;
        width: 46%;
        gap: 10px;
        padding: 20px;
        width: 100%;
        margin-left: 0px;
    }
}
@media (max-width:412px){
    .fullitem2 img {
        height: 80px;
        width: 80px;
        margin-left: 200px;
        margin-bottom: 50px;
    }
    input {
        width: 300px;
        height: 50px;
        margin-left: 0px;
    }
    
}
@media (max-width:640px){
    .input {
        margin-left: 0px;
    }
    .input {
       width: 100%;
    }

}
@media (max-width:331px){
    .fullitem2 img {
        height: 80px;
        width: 80px;
        margin-left: 100px;
        margin-bottom: 50px;
    }
    .flex3 {
        margin-top: 600px;
    }
}
@media (max-width:862px){
  .fullitem{
    width: 100%;
    align-items: center;
    margin-left: 0px;
    height: 300px;
  }
  .fullitem2{
    margin-left: 0px;
   margin: 10px;
  }
}
@media (max-width:1195px){
  .fullitem2{
    width: 46%;
 }
}
@media (max-width:800px){
  .fullitem2{
    width: 100%;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
 }
  .fullitem2 img{
    margin-left: 0px;
 }
 .flex3 {
    margin-top: 590px;
}
.textarea{
    width: 100%;
}

}