@media (max-width:1000px){
  .card{
    width: 44%;
  }
}
@media (max-width:800px){
.flexcol{
    display: flex;
    flex-direction: column;
}
.flexcol input{
     width: 80%;
}
}
@media (max-width:640px){
.card{
    width: 630px;
}
.card2{
    width: 80%;
}

}